<!DOCTYPE html>
<html>
<head>
<style>
{style}
</style>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>Paul feeder</title>
</head>
<body>
<div>Hello this is paul feeder!</div>
<div>Local IP address: ...</div>
<div>Z axis: ...</div>

<form action="feed" method="get">
<input type="submit" value="Feed">
</form>

<form action="unfeed" method="get">
<input type="submit" value="Unfeed">
</form>

</body>
</html>
