<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
{style}
</style>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>Paul feeder</title>
</head>
<body>
<div>Hello this is paul feeder!</div>
<div>Local IP: <span id="ipval"></span></div>
<div>Z axis: <span id="zval"></span></div>
<div>Mode: <span id="mode"></span></div>
<canvas id="zcanvas" width="400" height="400"></canvas>

<div>
<button id="feedbutton" class="medbutton">Feed</button>
<button id="unfeedbutton" class="medbutton">Unfeed</button>
</div>

</body>
<script>{script}</script>
</html>
